
<div>
    <form action="/register" method="post">
        <label for="login_nickname">
            <input id="login_nickname" type="text" name="nickname" value="" placeholder="Nickname">
        </label>
        <label for="login_email">
            <input id="login_email" type="email" name="email" value="" placeholder="Email">
        </label>
        <label for="login_password">
            <input id="login_password" type="password" name="password" value="" placeholder="Password">
        </label>
        <input type="submit" value="Login">
    </form>
</div>
